.App {
  text-align: center;
  background-color: white;
  width: 480px;
  height: 100%;
  margin: auto;
  padding: 30px 0px 30px 0px;
}

body, html {
  background-color: #dcdcdc;
  height: 100%;
  width: 100%;
}
