.App {
  text-align: center;
  height: 100%;
  margin: auto;
  padding: 30px 30px 30px 30px;
}

@media only screen and (min-width: 480px) {
  .App {
    width: 480px;
  }
}

.plotimg, .profileimg {
  width: 90px;
}

.carouselItem {
  display: inline-block;
  border-radius: 30px;
  margin: 20px 10px 20px 10px;
  padding: 50px 20px 50px 20px;
  background-color: white;
  box-shadow: 0 6px 42px -17px black;
}

h2 {
  text-align: left;
  margin: 16px;
  font-size: 36px;
  margin-block-end: 0;
}

.Plots, .People, .Tasks {
  overflow: auto;
  white-space: nowrap;
}

body, html {
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
}

button {
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.icon {
  padding: 20px;
  width: 42px;
  height: 42px;
  background-color: white;
  border-radius: 60px;
  border-width: 0;
  box-shadow: 0 6px 42px -17px black;
}

.profpic {
  border-radius: 100px;
  width: 120px;
}
