.App {
  text-align: center;
  width: 480px;
  height: 100%;
  margin: auto;
  padding: 30px 30px 30px 30px;
}

.plotimg, .profileimg {
  width: 90px;
}

.carouselItem {
  display: inline-block;
  border-radius: 30px;
  margin: 20px 10px 20px 10px;
  padding: 50px 20px 50px 20px;
  background-color: white;

  /* box-shadow: 0px 6px 32px rgba(0, 0, 0, .2); */
  box-shadow: 0 6px 42px -17px black;
}

h2 {
  text-align: left;
  margin: 16px;
  font-size: 36px;
  margin-block-end: 0;
}

.Plots, .People, .Tasks {
  overflow: auto;
  white-space: nowrap;
}

body, html {
  background-color: #f4f4f4;
  height: 100%;
  width: 100%;
}

.Navbar {
    position: fixed;
    bottom: 0;
    background-color: blue;
    width: 100%;
}
